{% extends 'base.html' %}
{% block content %}

<div id="main">
    <article class="post" style="margin: 0 10%;">
        <h1>About us</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit ad culpa, recusandae, libero explicabo non ipsa exercitationem incidunt placeat ea atque, dolor error? Eius accusamus consectetur quae impedit ipsa fugit doloribus, iste illo aperiam, deserunt, obcaecati sit labore explicabo reiciendis amet assumenda officiis rerum praesentium repudiandae. Aperiam labore architecto praesentium distinctio ipsa. Iure ipsam maxime cumque excepturi consequuntur, dolor vel.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora soluta beatae quibusdam neque assumenda eum quae recusandae explicabo quos. Quae quasi vero eos maiores in voluptatem nihil earum ex nam voluptatum suscipit autem iste omnis voluptatibus quam, nesciunt quibusdam enim aspernatur saepe assumenda totam molestiae velit. Ipsum nisi dolores non debitis quo veritatis ipsa ab dolor neque, similique error praesentium, quos in, ducimus iusto? Quibusdam dolorem culpa facilis mollitia? Reiciendis optio repudiandae quod velit, et esse quisquam voluptas possimus! Totam.
        </p>
    </article>
    <!-- Footer -->
    <section id="footer" align="center" style="margin-top: 2rem;">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>
</div>

{% endblock %}