{% extends 'base.html' %}
{% block content %}

<div id="main">
    <article class="post" style="margin: 0 10%;">
        <h1>About us</h1>
        <p>
            ONLINE BLOGGING SYSTEM is an acadamic project developed by Pankil Doshi and Madhav Dhokiya in Software Project Course.
        </p>
        
    </article>
    <!-- Footer -->
    <section id="footer" align="center" style="margin-top: 2rem;">
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
            <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
    </section>
</div>

{% endblock %}