{% extends 'base.html' %}
{% load static %}

{% block title %}
	BLOG | {{post.title}}
{% endblock %}

{% block content %}
				<!-- Main -->
					<div id="main">
						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{post.title}}</a></h2>
										<p>{{post.headline}}</p>
									</div>
									<div class="meta">
										<time class="published">{{post.post_date}}</time>
										<a href="#" class="author"><span class="name">{{post.author.first_name}} {{post.author.last_name}}</span><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
									</div>
								</header>
								{% if post.featured_image %}
								<span class="image featured"><img src="{{post.featured_image.url}}" alt="" style="max-height: 550px;" /></span>
								{% endif %}
								<div align="justify">
									{{post.content|safe}}
								</div>								
								<footer>
									<ul class="stats" style="margin-top: 30px;">
										<form action="{% url 'like_post' post.pk %}" method="post">
											{% csrf_token %}
											<button type="submit" name="post_id" value="{{ post.id }}" class="button">
												<i class=" icon solid fa-heart" style="margin: 2px; color: 2ebaae;"></i> 
												{{ total_likes }}
											</button> 
										</form>
										<!-- <li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li> -->
										<section class="comments">
											<h2>Comments</h2>
											<form action="add_comment" method="post">
												{% csrf_token %}
												<div class="row gtr-uniform">
													<input type="hidden" name="post" value="{{ post.id }}"/>
													<input type="hidden" name="name" value="{{ user.id }}"/>
													<div class="col-9 col-12-xsmall">
														<input type="text" name="body" placeholder="Comment..." />
													</div>
													<div class="col-3 col-12-xsmall">
														<input type="submit" value="Add Comment"/>
													</div>
												</div>
											</form>
											{% if not post.comments.all %}
												No comments
											{% else %}
												{% for comment in post.comments.all %}
												<div class="meta">
													<strong>{{comment.name}} </strong> - {{comment.date_added}}
													<p>{{comment.body}}</p>
												</div>													
												{% endfor %}
											{% endif %}
										</section>
									</ul>
								</footer>
							</article>
							
						<!-- Footer -->
							<section id="footer" align="center">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>
					</div>
{% endblock %}