{% extends 'base.html' %}
{% block content %}

    <div id="main">
        <article class="post" style="margin: 0 10%;">
            {% if request.user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <h1>Delete Post - {{post.title}} </h1>
                        </div>
                        <div class="col-12">
                            <p>Are you sure?</p>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Delete" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            {% endif %}
        </article>        
    </div>

{% endblock %}