{% extends 'base.html' %}
{% block content %}

    <div id="main">
        <article class="post" style="margin: 0 10%;">
            {% if request.user.is_authenticated %}
                <h1>Update Blog</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="row gtr-uniform">
                        <div class="col-12">
                            <input type="text" name="title" placeholder="Title" value="{{post.title}}" />
                        </div>
                        <div class="col-12">
                            <input type="text" name="headline" placeholder="Headline" value="{{post.headline}}" />
                        </div>
                        <div class="col-12">
                            <textarea name="content" placeholder="Content" cols="85" rows="6">{{post.content}}</textarea>
                        </div>
                        <div class="col-12">
                            <ul class="actions">
                                <li><input type="submit" value="Update" /></li>
                            </ul>
                        </div>
                    </div>
                </form>
            {% endif %}
        </article>        
    </div>

{% endblock %}