{% extends 'base.html' %}
{% block content %}

    <div id="main">
        <article class="post" style="margin: 0 10%;">
            {% if request.user.is_authenticated %}
                <h1>Update Profile</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <div class="col-12">
                        <ul class="actions">
                            <li><input type="submit" value="Update" /></li>
                        </ul>
                    </div>
                </form>
            {% endif %}
        </article>        
    </div>

{% endblock %}